.google_btn {
  background-color: dodgerblue;
  margin-top: 10px;
}
a.login-google-btn {
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
}

.account_info {
  display: grid;
  justify-content: center;
}

input#user_email {
  width: 300px;
}

.AccountPage {
  padding: 30px;
  background-color: lightskyblue;
}