.google_btn {
  background-color: dodgerblue;
  margin-top: 10px;
}
a.login-google-btn {
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
}

.account_info {
  display: grid;
  justify-content: center;
}

input#user_email {
  width: 300px;
}

.AccountPage {
  padding: 30px;
  background-color: lightskyblue;
}

.search_result {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search_info {
  display: flex;
  justify-content: center;
}

.search_mini_box {
  border: dashed;
    padding: 20px;
    color: brown;
    background-color: whitesmoke;
}

img.item-img {
  width: 33vh;
  height: auto;
}

.search_body {
  background-color: lightblue;
  min-height: 800px;
}

h2.address_info {
  text-align: center;
}

.error_cls {
  display: flex;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}